* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #54017d;
    color: #fff;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
    margin: 0;
}

.home-main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

.intro {
    margin-top: 3%;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.intro p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 10px;
}

.rotating-images {
    width: 25%;
    min-width: 200px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.rotating-images img {
   width: 100%;
   height: auto;
   object-fit: contain;
   border: 2px solid #ccc;
   border-radius: 4px;
}

.announcement img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.home-content {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #fff;
    color: white;
    padding: 0px;
    width: 100%;
    position: relative;
}

.header-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    background-color: white;
    padding: 0;
}

.logo-container {
    background-color: white;
    padding: 10px 20px;
    flex-shrink: 0;
}

.logo {
    height: 100px;
    width: auto;
}

.nav-container {
    flex: 1;
    flex-grow: 1;
    background-color: #e67e22;
    display: flex;
    align-items: flex-end;
    height: fit-content;
    border: 2px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0;
    margin: 0;
    padding: 0;
}

nav li {
    border-right: 2px solid black;
    border-left: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav li:hover {
    background-color: black;
}

nav li:hover a {
    color: orange;
}

nav a:hover {
    text-decoration: underlinve;
}


main h2 {
    margin-bottom: 10px;
}

footer {
   width: 100%;
   background-color: #e67e22;
   padding: 20px;
   color: #111;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.footer-nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: text-decoration 0.3s ease;
}
.footer-nav a:hover {
    text-decoration: underline;
}

.footer-logo {
    height: 100px;
    width: auto;
}

.shop-main {
    padding: 40px 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: transform 0.3s ease;
    color: black;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-main {
    padding: 20px;
    position: relative;
    flex-direction: row;
}

.product-layout {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.product-image {
    flex: 1;
    max-width: 400px;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.product-name {
    color: black;
}

.product-image img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info {
    text-align: center;
    color: #111;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.add-to-cart {
    background-color: #e67e22;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
}

.size-list {
    flex-direction: column;
    margin-top: 20px;
}
.size-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.size-button {
    background-color: #e67e22;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
}

.size-button:hover {
    background-color: #111;
    color: orange;
}

.add-to-cart:hover {
    background-color: #111;
    color: orange;
}

.product-description {
    flex: 1;
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-options {
    flex: 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

@media (max-width: 900px) {
    .rotating-images{
        display: none;
    }

    .home-content {
        flex: 1 1 100%;
    }
}

.community-main {
    flex: 1;
    display: flex;
    padding: 20px;
    position: relative;
    flex-direction: column;
}

.messages-board {
    max-width: 600px;
    min-height: 70%;
    min-width: 90%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages-board form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.messages-board textarea {
    flex: 1;
    resize: vertical;
    min-width: 80%;
    min-height: 5px;
    padding: 10px;
    font-size: 1rem;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#messages-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

#messages-list li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid orange;
}

.community-footer {
    background: #ffa500;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}


.post-button {
    background-color: #e67e22;
    color: black;
    padding: 1%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

.post-button:hover {
    background-color: #111;
    color: orange;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #ddd;
    background-color: white;
    flex: none;
    z-index: 1;
    position: relative;
    max-height: 20%;
    max-width: 90%;
    margin: 30px;
    border-radius: 6px;
    color: black;
}
.Socail-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex: none;
    z-index: 1;
    position: relative;
    max-height: 65%;
    max-width: 65%;
}

.Socail-links a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.Socail-links img {
    max-width: 40%;
    max-height: 40%;
    width: 00px;
}

.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    background-color: #54017d;
}

.contact-form {
    color: black;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 6pt;
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.contact-form textarea {
    border-radius: 6px;
    border: 2px solid black;
}

.contact-form label {
    font-weight: bold;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54017d;
}

.login-container {
    color: black;
    align-items: center;
    background-color: white;
    border-radius: 6pt;
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    max-width: 90%;
    max-height: 90%;
    width: fit-content;
    flex-wrap: wrap;
}

.login-container p {
    font-size: larger;
    width: fit-content;
}

.create-form {
    border-right: 2px solid #111;
    width: fit-content;
    flex: 1;
    padding: 10px;
}

.login-form {
    padding: 10px;
    flex: 1;
}
.create-form textarea {
    border-radius: 6px;
    border: 2px solid black;
}

.login-form textarea {
    border-radius: 6px;
    border: 2px solid black;

}

.contact-form label {
    font-weight: bold;
}

.header-admin{
    background-color: #9eaca9;
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 0;
}

.nav-admin{
    display: flex;
    width: 100%;
    align-items: flex-end;
    background-color: white;
    padding: 0;
}